:root {
    --primaryColor: #000000;
    --secondaryColor: #0094B8;
    --greyColor: #F0F0F0;
}

*, ::after, ::before {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    overflow-x: hidden;
    background-color: var(--primaryColor);
    color: var(--primaryColor);
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
:focus {
    outline: none !important;
    box-shadow: none !important;
}
a {
    text-decoration: none !important;
}
.text-blue {
    color: var(--secondaryColor);
}
.grey-bg {
    background-color: var(--greyColor);
}
h1, h2 {
    font-weight: 700;
}
p {
    color: #646464;
}

.header {
    padding-bottom: 0.938rem;
    z-index: 9;
}
.header-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo img {
    background-color: #ffffff;
    padding: 0.625rem;
    width: 12.5rem;
}
.mobile__menu {
    display: none;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 50px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}
.navbar-expand-lg .navbar-nav .active .nav-link,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-color: var(--secondaryColor);
    color: var(--secondaryColor);
}
.navbar-light .navbar-toggler {
	background-color: #ffffff;
}

.contact--block {
    margin: 5rem 0 -8.125rem;
}
.contact__text {
    margin-top: 15rem;
}
.contact__text h1 {
    color: var(--secondaryColor);
    margin-bottom: 0;
    font-weight: 600;
}
.contact__form {
    padding: 2.5rem 1.563rem 1.875rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 0.625rem 0 var(--primaryColor);
}
.contact__form h2 {
    font-weight: 600;
}
.form-group label {
    font-weight: 600;
    margin-bottom: 0.188rem;
}
.form-group .form-control {
    background-color: #F0F0F0;
    border: none;
    height: auto;
    font-size: 0.938rem;
    padding: 0.625rem 0.938rem;
    border-radius: 6px;
}
.btn {
    background-color: var(--secondaryColor);
    border-radius: 0.375rem;
    padding: 0.625rem 1.25rem;
    font-size: 1.125rem;
    border: none;
    transition: all 0.6s ease-in-out;
}
.btn-lg {
    padding: 0.625rem 4.25rem;
}
.btn:hover {
    background-color: var(--primaryColor);
    transition: all 0.6s ease-in-out;
}

/* About Page CSS */
.inner__hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14% 0;
    position: relative;
    z-index: 2;
}
.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primaryColor);
    opacity: 0.4;
    z-index: -1;
}

.main__title h2 {
    line-height: 1.4;
}
.main__title h2 span {
    font-size: 1.3rem;
    font-weight: 400;
}
.main__title h2 span sup {
    font-weight: 700;
}
.section-top-space {
    margin-top: 6rem;
}

.about__nss .main__title h2 {
    line-height: 1;
}

.diamond__item {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(160,160,160,0.35);
    padding: 20px;
    height: 100%;
}
.diamond__item .diamond__icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.diamond__item .diamond__des {
    margin-top: 1rem;
}
.diamond__item .diamond__des h5 {
    font-size: 18px;
    color: #5a5a5a;
    font-weight: 700;
}

.vison__mission__item {
    margin: 0 -2rem;
    position: relative;
}
.vison__mission__item:first-child:before {
    content: "";
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.vison__mission__item:first-child::after {
    content: "";
    position: absolute;
    bottom: 10rem;
    left: -1rem;
    width: 30px;
    height: 125px;
    background: url('../image/dots-group.svg') no-repeat center / contain;
}
.vison__mission__item > div {
    padding: 0 2rem;
}
.box-banner {
    position: relative;
    overflow: hidden;
    padding-top: 115%;
    border-radius: 12px;
}
.box-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}
.vison__mission__content {
    padding-top: 4rem;
}
.vison__mission__content h2 {
    line-height: 1.4;
}
.vison__mission__item:last-child {
    margin-top: -8rem;
}
.vison__mission__item:last-child .vison__mission__content {
    padding-top: 14rem;
}

.cta__block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0 5rem;
    position: relative;
    z-index: 1;
}

.nss__block {
    padding: 10rem 0 0;
    margin-bottom: -3rem;
}
.nss__item {
    position: relative;
}
.nss__item:last-child:before {
    content: "";
    position: absolute;
    top: 2rem;
    right: -8rem;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #ffffff;
}
.nss__item:last-child::after {
    content: "";
    position: absolute;
    bottom: 13rem;
    right: -2rem;
    width: 30px;
    height: 125px;
    background: url('../image/dots-group.svg') no-repeat center / contain;
}

.testimonials__block {
    padding: 8rem 0;
}
.testimonial__item {
    padding: 0 1.2rem;
}
.testimonial__item .testimonial__msg {
    box-shadow: -7.071px 7.071px 8.5px rgba(160,160,160,0.35);
    padding: 1.2rem;
    border-radius: 8px 8px 8px 0;
    position: relative;
}
.testimonial__item .testimonial__msg:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 35px 0 0;
    border-color: #ffffff transparent transparent transparent;
    filter: drop-shadow(0 14.071px 8.5px rgba(160,160,160,0.35));
}
.testimonial__user {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.testimonial__user .user__avtar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #646464;
}
.testimonial__user .user__avtar img {
    width: 100%;
    object-fit: cover;
}
.testimonial__user .user__name {
    margin-left: 1rem;
}

.newsletter__block {
    padding: 5rem 0;
}
.member__item {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}
.member__item:not(:last-child) {
    margin-bottom: 1rem;
}

.newsletter {
    padding: 4rem 0 0 2rem;
}
.newsletter .form-group {
    position: relative;
}
.newsletter .form-group .form-control {
    box-shadow: -7.071px 7.071px 8.5px rgba(160,160,160,0.35);
    padding: 0.625rem 1.25rem;
}
.newsletter .form-group .btn {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    font-size: 1rem;
    border-radius: 0 6px 6px 0;
}
/* About Page CSS */

.footer {
    background-color: #3C3C3C;
    padding: 2rem 0;
}
.footer__col .table {
    width: auto;
    margin: 0;
    position: relative;
    z-index: 1;
}
.footer__col .table td {
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.313rem 1.25rem;
    font-weight: 300;
    font-size: 0.938rem;
}
.footer__col .table td a {
    color: #ffffff;
    transition: all 0.6s ease-in-out;
}
.footer__col .table td a:hover {
    color: var(--secondaryColor);
    transition: all 0.6s ease-in-out;
}
@media (max-width: 991px) {
    html { font-size: 14px; }
}
@media (max-width: 767px) {
    .mobile__menu {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        left: auto;
        bottom: auto;
        cursor: pointer;
        z-index: 99;
    }
    .mobile__menu .mobile__line {
        border-radius: 8px;
        background-color: #FFFFFF;
        width: 30px;
        height: 2px;
        position: relative;
    }
    .mobile__menu .mobile__line:not(:last-child) {
        margin-bottom: 5px;
    }
    .mobile__menu.show .mobile__line:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
    }
    .mobile__menu.show .mobile__line:first-child {
        transform: rotate(45deg);
        top: 3px;
    }
    .mobile__menu.show .mobile__line:last-child {
        display: none;
    }
    .header .navbar {
        display: none;
    }
    .header .navbar.show {
        display: block;
        position: absolute;
        top: 20px;
        right: 15px;
        width: 150px;
        height: auto;
        overflow: auto;
        background-color: #ffffff;
        padding: 15px !important;
        z-index: 9;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
    }
    .navbar-nav .nav-item {
        display: block;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        color: var(--primaryColor);
    }
    .header .row > div {
        width: 50%;
    }

    .logo img {
        width: 90px;
    }

    .contact__text {
        margin-top: 0;
    }
    .contact__form {
        margin-top: 2rem;
    }
    .contact--block {
        margin: 3rem 0;
    }

    /* About Page CSS */
    main {
        overflow-x: hidden;
    }

    .inner__hero {
        padding: 25% 0 10%;
    }
    .main__title h2 span {
        display: block;
    }

    .about__nss .main__title h2 {
        line-height: 1.4;
        margin-bottom: 0.8rem !important;
    }

    .nss__item:last-child:before {
        width: 8rem;
        height: 8rem;
        top: -1rem;
        right: -1rem;
    }
    .nss__item:last-child::after {
        width: 2rem;
        height: 6rem;
        right: 0;
    }
    .diamond__item,
    .nss__banner {
        height: auto;
        margin-bottom: 1.5rem;
    }

    .vison__mission__item:first-child:before {
        width: 8rem;
        height: 8rem;
        top: -1rem;
        left: -1rem;
    }
    .vison__mission__item:first-child::after {
        width: 2rem;
        height: 6rem;
        left: 0;
    }

    .vison__mission__item:last-child {
        margin-top: 4rem;
    }
    .vison__mission__item:last-child .vison__mission__content {
        padding: 0 0 2rem;
    }

    .nss__block {
        padding: 5rem 0 0;
    }
    
    .testimonials__block {
        padding: 5rem 0;
    }

    .newsletter {
        padding: 2rem 0 0 0;
    }

    .main__title.text-right {
        text-align: left !important;
    }

    .footer__col {
        margin-top: 2rem;
    }
    /* About Page CSS */
}
@media (max-width: 575px) {
    html {
        font-size: 14px;
    }
    br { display: none; }

    /* About Page CSS */
    .vison__mission__content {
        padding-top: 2rem;
    }
    /* About Page CSS */
}