.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.d-flex {
  display: flex;
}
main {
  min-height: 100vh;
}
.footer {
  position: sticky;
  top: 100%;
}
section {
  padding: 30px;
}

.navigation, .footer {
  background-color: #0a0a4f;
  padding: 30px;
  color: #ffffff;
}
.navigation a {
  font-size: 18px;
  margin: 0 20px 0 0;
  text-decoration: none;
  color: #ffffff;
}
.navigation a.active {
  font-weight: 700;
  color: #007bff;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #d9c0c0;
  padding: 100px 30px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .navigation-sub { display: none; }
  .show { display: block; }
}